NEXT_PUBLIC_FIREBASE_EMULATORS=true
NEXT_PUBLIC_FIREBASE_PROJECT_ID=housing-db-v2
NEXT_PUBLIC_FIREBASE_FUNCTIONS_REGION=us-central1
NEXT_PUBLIC_FUNCTIONS_BASE=/__api

NEXT_PUBLIC_FIREBASE_API_KEY=...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=housing-db-v2.firebaseapp.com
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=housing-db-v2.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=184082104139
NEXT_PUBLIC_FIREBASE_APP_ID=1:184082104139:web:ac03a5c22db791a32332ce

# App Check debug ok for localhost
NEXT_PUBLIC_FIREBASE_APPCHECK_KEY=6LfUM...
NEXT_PUBLIC_FIREBASE_APPCHECK_DEBUG_TOKEN=true

NEXT_PUBLIC_DEV_EMAIL=admin@example.com
NEXT_PUBLIC_DEV_PASS=change-me
